@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

body {
    font-family: "Zain", sans-serif;
    --main-color: #3298E9;
}

.navbar {
    padding: 0
}

.navbar-collapse {
    flex-grow: 0
}

.navbar .main_logo {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navbar .main_logo h1 {
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 25px;
    padding-top: 10px;
    font-weight: 600
}

.navbar .main_logo p {
    color: var(--main-color)
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--main-color);
    font-weight: 500
}


.navbar-toggler {
    color: #4b4848;
    font-size: 1.5rem
}

.top_header {
    background-color: var(--main-color);
    color: #fff;
    z-index: 9999
}

.top_header .top1 {
    font-size: 12px
}

.top_header .top1 .date {
    padding-left: 5px;
}

.top_header .top1 .time {
    padding-right: 5px
}


.top_header .top2 ul li {
    display: inline-block;
    padding-top: 4px;
}

.top_header .top2 ul li a {
    color: #fff
}

.top_header .top2 ul li i {
    font-size: 12px;
}

.top_header .row {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width: 991px) {
    .top_header .row {
        justify-content: center
    }

    .top_header {
        height: 80px
    }
}

header {
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        margin-right: 15%
    }
}

@media (max-width: 991px) {
    .top_header .top2 .button_login {
        padding: 5px
    }

    .navigation .navbar-nav {
        text-align: right;
        box-shadow: 0 0 10px 2px #fff;
        background: #f9f9f9
    }
}

.nav-item:hover .nav-link {
    color: var(--main-color) !important
}

.small_screen .top_header {
    position: relative
}

@media (max-width: 991px) {
    .small_screen .top_header {
        height: auto
    }
}

.small_screen .medieum {
    background-color: #fff
}

@media (max-width: 991px) {
    .small_screen .medieum .row {
        display: flex;
        justify-content: center;
        align-items: center
    }
}

.small_screen .medieum .navbar-brand {
    padding: 0;
    margin: 0
}

.small_screen .medieum .navbar-brand img {
    margin-left: 10px
}

.small_screen .medieum .button_login {
    background-color: var(--main-color);
    color: #fff;
    margin-left: 10px;
    margin-right: 10px
}

.small_screen .top_header .top2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.new_links {
    z-index: 9999999999;
    height: 100vh;
    background: #ffff;
    position: absolute;
    top: -80px;
    right: -100%;
    width: 300px;
}

.new_links ul li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
}


.new_links ul {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px
}

.small_screen {
    display: none
}



/***************************************/

body.overlay-active {
    overflow: hidden;
    /* يمنع التمرير عندما تكون القائمة نشطة */
}

.new_links {
    /* ابدأ القائمة خارج الشاشة */
    transition: right 0.3s ease-in-out;
}

.new_links.active {
    right: 0;
    /* حرك القائمة إلى داخل الشاشة */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999998;
}

.overlay.active {
    display: block;
}

/****************************************/

@media (max-width: 991px) {
    .large_screen {
        display: none
    }

    .small_screen {
        display: block
    }
}

.small_screen .medieum {
    background-color: #fff;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

@media (max-width: 991px) {
    .small_screen .medieum .row {
        display: flex;
        justify-content: center;
        align-items: center
    }
}

.small_screen .medieum .navbar-brand {
    padding: 0;
    margin: 0
}

.small_screen .medieum .button_login {
    background-color: var(--main-color);
    color: #fff;
    margin-left: 3px;
    margin-right: 3px
}

.login_navbar li {
    margin-right: 10px;
    margin-left: 10px
}

.navigation .navbar-nav {
    text-align: center
}

.large_screen .navigation .navbar-nav {
    display: -webkit-inline-box
}

.login-button {
    border: 2px solid #dedede;
    margin-right: 8px;
    padding: 6px 20px !important
}

@media (max-width: 400px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0
    }
}

@media (max-width: 480px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0
    }
}

@media (max-width: 768px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0
    }
}

@media (max-width: 992px) {
    .login-button {
        display: inline-block;
        padding: 6px 45px !important;
        margin: 5px 0
    }
}

.add-button {
    background: var(--main-color);
    color: #fff;
    padding: 8px 20px !important;
    display: inline-block
}

.add-button:hover {
    color: #fff
}

.main-nav .nav-item .nav-link {
    font-size: 20px;
    line-height: 25px;
    padding: 0 10px
}

.main-nav .nav-item .nav-link span {
    margin-left: 4px
}

.main-nav .nav-item .nav-link.dropdown-toggle {
    padding-right: 10px
}


.main-nav .nav-item.active .nav-link {
    color: var(--main-color) !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--main-color);
}

.nav-item a.active {
    color: var(--main-color) !important;
}

.main-nav .search .nav-link i {
    font-size: 15px;
    height: 43px;
    width: 43px;
    line-height: 43px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 3px;
    text-align: center
}

.main-nav .search .input-group {
    width: 300px;
    direction: rtl
}

.main-nav .search .input-group .input-group-addon {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color)
}

.main-nav .search .input-group .input-group-addon i {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px
}

@media (max-width: 480px) {
    .navbar-toggleable-md > .container {
        margin-right: 0;
        margin-left: 0;
        padding-left: 25px;
        padding-right: 25px
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #3c3c3c;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        margin-right: 30%
    }
}

@media (max-width: 991px) {
    .top_header .top2 .button_login {
        padding: 5px
    }

    .navigation .navbar-nav {
        text-align: right;
        box-shadow: 0 0 10px 2px #fff;
        background: #f9f9f9
    }
}

.nav-item a {
    position: relative;
    text-decoration: none;
    color: inherit;
    /* للحفاظ على لون النص الأصلي */

}


.nav-item a.active {
    color: var(--main-color) !important;
}


.nav-item a {
    position: relative;
    text-decoration: none;
    color: inherit;
    /* للحفاظ على لون النص الأصلي */
}

.small_screen .medieum .navbar-brand {
    padding: 0;
    margin: 0
}

.nav-link {
    color: #000;
    font-size: 14px;
}

[dir='rtl'] .slick-next,
[dir='rtl'] .slick-prev {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 40px
}

@media (max-width: 991px) {
    [dir='rtl'] .slick-next {
        left: 0;
        display: none !important
    }

    [dir='rtl'] .slick-prev {
        right: 0;
        display: none !important
    }

    .about_section .main_slide {
        overflow: hidden
    }

    .nav-item a::after {
        display: none;
    }

    .nav-link {
        font-size: 17px;
        padding-right: 15px;
    }
}

.whatsapp_bottom {
    position: fixed;
    bottom: 20px;
    right: 15px;

}

@media (max-width: 991px) {
    .whatsapp_bottom {
        bottom: 20px;
        right: 10px;
        padding: 7px;
        border-radius: 64px;
        width: 130px
    }
}

.whatsapp_bottom a {
    text-decoration: none;
    color: #fff
}


.dropdown-toggle::after{
    display: none;
}

.nav-item .dropdown-toggle .bi-bell-fill{
    font-size: 20px;
}
.dropdown{
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}
.dropdown .counter{
    position: absolute;
    top: -15px;
    background: red;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 20px;
}
.navbar-nav .dropdown-menu{
    width: 270px;
    max-height: 150px;
    overflow: scroll;
}

.navbar-nav .dropdown-menu a{
    text-wrap: wrap;
}








/****************** Start Hero Section ****************/
.hero {
    background-position: center;
    background-size: cover;
    padding: 30px;
    text-align: center;
    min-height: 500px;
    display: flex;
    align-content: center;
    align-items: center;
}

.hero h3 {
    line-height: 1.5;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero p{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color:#484848;
}

/**************** End Hero Section ************/

/************* start Seller Buyer Section *********/
.buttons_data{
    background-color:#ECF2F5;
    padding-top :40px;
}
.buttons_data h2{
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.user_type {
    display: flex;
    justify-content: center;
    background: #fff;
    width: 30%;
    text-align: center;
    margin: auto;
    align-items: center;

}

.user_type .active {

}

 .user_type .seller {
    padding: 20px;
    width: 50%;
    font-size: 25px;
    cursor: pointer;
}

.user_type .buyer {
    padding: 20px;
    width: 50%;
    font-size: 25px;
    cursor: pointer;
}

.user_type .active {
    background-color: var(--main-color);
    color: #fff;
    transition: all .3s linear;
}

.about_seller_buyer {
    padding-top: 40px;
    display: none;
}

.about_seller_buyer.active {
    display: block;
    background-color:#ECF2F5;
}

.about_seller_buyer .data {
}

.about_seller_buyer .data .info {
}

.about_seller_buyer .data .info h4 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_seller_buyer .data .info p {
    font-size: 20px;
    color: #5e5555;
}

.global_button {
    padding: 13px 65px;
    font-size: 20px;
}

.about_seller_buyer .data .info .global_button i {
    position: relative;
    top: 4px;
    margin-right: 5px;

}

.about_seller_buyer .image {
}

.about_seller_buyer .image img {
    max-width: 100%
}

.about_seller_buyer .data .info ul{}
.about_seller_buyer .data .info ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.about_seller_buyer .data .info ul li img{
    width: 20px;
}
.about_seller_buyer .data .info ul li strong{}

/************** End Seller Buyer Section **********/


/*************** Start About Us ***************/


.about_us {
    padding-top: 40px;
    padding-bottom: 40px;
}


.about_us .data {
}

.about_us .data .info {
}

.about_us .data .info h4 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_us .data .info p {
    font-size: 20px;
    color: #5e5555;
}

.global_button {
    padding: 13px 65px;
    font-size: 20px;
}

.about_us .data .info .global_button i {
    position: relative;
    top: 4px;
    margin-right: 5px;

}

.about_us .image {
    text-align: left;

}

.about_us .image img {
    max-width: 70%
}


/********************* End About Us *************/

/**************** Start Login Page *************/

.register_page {

}

.register_page .data {
}

.register_page .login {
    display: none;
}

.register_page .active {
    display: block;
}

.register_page .data form {
    margin-top: 40px;
}

  form h4 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

  form .box {
    margin-bottom: 25px;
}

  .box label {
    margin-bottom: 10px;
    font-size: 18px;
}

 form .box input {
    box-shadow: none !important;
    outline: none;
    height: 45px;
    font-size: 18px;
}
form .box input [type='email']{
    text-align: right;
    direction: rtl;
}
form .box textarea{
    box-shadow: none !important;
    outline: none;
}

 form .box .star {
    color: red;
}

  form .box button {
}

.register_page .data .info {
}

.register_page .data .info img {
    max-width: 100%
}


.account_type {
    display: flex;
    justify-content: center;
    background: #fff;
    width: 70%;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.account_type .active {

}

.account_type .seller {
    padding: 10px;
    width: 40%;
    font-size: 20px;
    cursor: pointer;
}

.account_type .buyer {
    padding: 10px;
    width: 40%;
    font-size: 20px;
    cursor: pointer;
}

.account_type .active {
    background-color: var(--main-color);
    color: #fff;
    transition: all .3s linear;
}

/***************** End Login Page ************  */


/*********** Start Main Dahsboard *************/

.main_dashboard {
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 40px;
}

.main_dashboard .data {

}

.main_dashboard .data .main_dashboard_sidebar {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.main_dashboard .data .main_dashboard_sidebar .user_data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

 .user_data .image {
}

 .user_data .image img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: 15px;
    border: 1px solid #f9f5f5;
    padding: 3px;

}

 .user_data .info {
}

 .user_data .info p {
    font-weight: bold;
    margin-bottom: 2px;

}

 .user_data .info span {
}

.main_dashboard .data .main_dashboard_sidebar .start_order .global_button {
    width: 100%;
    padding: 10px 65px;
}

/*************** Start Last Order ****************/
.last_order {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.last_order .head_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last_order .head_section h4 {
    color: #145c96;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 25px;
}
.last_order .step h5{
    font-weight:bold;
}
.last_order .head_section a i {
    position: relative;
    top: 3px;
}

/************ End Last Order **************/
/***************  Start All  Transaction *********/

.all_transations{

}
.all_transations .transaction{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-top:15px;
    border-bottom: 1px solid #ededed;
}
.all_transations .transaction .car_image {
    margin-left: 15px;
}
.all_transations .transaction .car_image img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    border:1px solid #ccc;
}
.all_transations .transaction .transaction_info {
    width: 70%;
}
.all_transations .transaction .transaction_info .transaction_status{
    display: flex;
    justify-content: flex-start;
}
.all_transations .transaction .transaction_info .transaction_status div{
    margin-right:10px;
    margin-left: 10px;
}
.all_transations .transaction .transaction_info h4{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
.all_transations .transaction .transaction_info .price{
    margin-bottom: 5px;
}
.all_transations .transaction .transaction_info .date{ margin-bottom: 5px;}
.all_transations .transaction .transaction_info .description{
    color:#5a5a5a;
}
.all_transations .transaction .other_person{
    width:35%;
}


.all_transations .other_person h5{
    font-size: 18px;
    font-weight: bold;
}
.all_transations .other_person .user_data{
    display: flex;

}
form .car_images{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
form .car_images img{
    width:100px;
    height:100px;
    border-radius: 5px;
    margin-bottom: 5px;
}
/*************** End All Transaction **********/

/*************** End Main Dashboard ***********/

.select_options_category{

}
.select_options_category label{
    border: 1px solid #ccc;
    color: #888888;
    padding-right: 45px;
    padding-left: 45px;
}
.select_options_category  .btn-check:checked+.btn{
    background-color: #c9e6ff;
    border-color: #c9e6ff;
    position: relative;

}
.select_options_category  .btn-check:checked+.btn::after{
    content: '';
    position: absolute;
    top: 11px;
    left: 3px;
    width: 15px; /* حجم الأيقونة */
    height: 15px;
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/check-circle-fill.svg'); /* رابط الأيقونة */
    background-size: contain;
    background-repeat: no-repeat;
}

/************************** Start Faq Section *************/

.faq{
    background-color: #ecf2f5;
    padding: 40px 0;
}

.faq h4{
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.faq .accordion-item:first-of-type .accordion-button{
background-color: #3298e9;
    color:#fff;
}
.faq .accordion-button:not(.collapsed){
    background-color: #3298e9;
    color:#fff;
    outline: none;
    box-shadow: none;
}
.faq .accordion-body{
    background-color:#ecf2f5;
}
.faq .accordion-button{
    outline: none;
    box-shadow: none;
}
/**************************** End Faq Section **************/
/*********************** Start Our Goals *******************/
.our_goals{

}
.our_goals .data .info ul{}
.our_goals .data .info ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.our_goals .data .info ul li img{
    width: 20px;
}
/********************** End Our Goals *************************/
/*********************** Start Footer **************************/

.footer{
    background-color:#3298e9;
    color:#fff;
    padding-top: 30px;

}

.footer .data .info{}
.footer .data .info p{
    color:#fff;
}
.footer .data .info ul{}
.footer .data .info ul li {
    display: inline-block;
    margin-right:15px;
    margin-left: 15px;
}
.footer .data .info ul a{
    text-decoration: none;
    color:#fff;
}
.footer .data .info .icons{}
.footer .data .info .icons li {}
.footer .data .info .icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    line-height: 47px;
    text-align: center;
}
.footer .data .info .icons a i {
    color: #3298e9;
    font-size: 22px;
}
/************************ End Footer ***************************/
@media(max-width: 991px){
    .hero h3{
        font-size: 35px;
    }
    .about_us .data .info p{
        font-size:18px;
        line-height: 2;
    }
    .about_us .image{
        text-align: center;
        margin-top: 30px;
    }
    .buttons_data h2,
    .about_seller_buyer .data .info h4,
    .about_us .data .info h4,
    .faq h4{
        font-size: 25px;
    }
    .user_type{
        width: 100%;
    }
    .about_seller_buyer .data .info ul li{
        line-height: 2;
    }
    .footer .data .info p{
        text-align: center;
    }
    .footer .data .info{
        text-align: center;
    }
    .account_type{
        width: 100%;
    }
    .account_type .seller,
    .account_type .buyer{
        font-size:17px
    }
    #code-input, #code-input2{
        justify-content: center !important;
        max-width: 90% !important;
    }
    .code-digit2, .code-digit{
        width: 40px !important;
        height: 40px !important;
    }
    .global_button{
        padding: 10px 40px;
        font-size: 17px;
    }

    /************************ Start Account Pages *********************/
    .select_options_category label{
        padding-right: 20px;
        padding-left: 20px;
    }
    .image-upload-wrapper{
        width:110px;
        height:110px;
    }
    .box label{
        font-size: 16px;
    }
    .all_transations .transaction{
        flex-direction: column;
    }
    .all_transations .transaction .transaction_info{
        width: 100%;
        margin-top:20px;
    }

    .all_transations .transaction .transaction_info .actions a{
        margin-bottom: 10px;
    }
    .all_transations .transaction .other_person{
        width:100%
    }
    .nav-item .dropdown-toggle .bi-bell-fill{
        color:#212529;
        position: relative;
        top: -15px;
    }
    .dropdown .counter{
        top:-30px;
        text-align: center;
    }
    .top_header .top2 ul li a{
        color:#000;
    }
    .navbar_user_image{

    }
    .navbar_user_image img{
        width:40px;
        height:40px;
        border-radius: 50%;
    }
    .navbar_user_image button{
        background-color:transparent;
        border: none;
    }
    .navbar_user_image .btn:hover,
    .navbar_user_image .btn.show{
        background-color:transparent;
    }
    .top_header .top2 .navbar_user_image ul li{
        display: block;
    }
    .main_dashboard_sidebar .start_order{
        display: none;
    }


    .nav-item .mobile_login_button{
        background: var(--main-color);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        margin-left: 20px;
    }
    /********************** End Account Pages *************************/
}
